@spacing 1px, 2px, 3px;

@media (min-width: 100px) {
    @spacing 40px, 20px, 30px;
}

body {
    padding: s1;
    color: red;
}

#main {
    margin-bottom: s2;
    padding: s1 s2 s3 s16;
}

.shadow-test {
    box-shadow: s3 20px 1px red;
    color: green;
}

